<footer class="module bg-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="social-text-links font-alt text-center m-b-20">
                    <li><a href="https://www.facebook.com/Unforgettable-Events-Co-782910658724220">Facebook</a></li>
                    <li><a href="https://www.instagram.com/unforgettableeventsco">Instagram</a></li>
                    <li><a href="https://www.pinterest.com/unforgettableeventsco">Pinterest</a></li>
                    <li><a href="https://twitter.com/Unforge78627200">Twitter</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="copyright text-center m-b-0">© 2019 <a href="#">Unforgettable Events</a>, All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>